@model IEnumerable<MvcMain.Models.Employee>

@{
    ViewData["Title"] = "EmployeeList";
}

<style type="text/css">
    a:link {
        color: azure;
    }

    a:visited {
        color: azure;
    }

    a:hover {
        color: azure;
    }

    a:active {
        color: azure;
    }

    .table {
        color: azure;
    }
</style>

<p>
    <a href="#" onclick="alert('just for List Display');">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    <a href="#" onclick="alert('just for List Display');">Update</a>
                    <a href="#" onclick="alert('just for List Display');">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>